<div class="container">
  <h2>Reset Password</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-group">
      <input type="password" placeholder="Nuova password" formControlName="newPassword">
    </div>
    <div class="input-group">
      <input type="password" placeholder="Conferma password" formControlName="confirmPassword">
      <div *ngIf="form.errors?.['notMatching']">Le password non corrispondono</div>
    </div>
    
    <div class="button-row">
    <button type="submit" [disabled]="form.get('newPassword')?.invalid || form.get('confirmPassword')?.invalid || form.errors?.['notMatching']"> Aggiorna Password</button>
    <button (click)="goToLogin()" class="btn btn-secondary">Torna al login</button>
    </div>

  </form>

  <p>{{ message }}</p>
</div>
 

